@{
    ViewBag.Title = "About";
}
<div id="background-wall-beer">
    <img src="../images/wall_beer.jpg" />
</div>

<div class="about-summary">
    <h2>About Us</h2>
 
    <div>
        <p>Ever find yourself in the super unfortunate position of excitedly picking up a new six-pack of a potentially tasty brew at the store to try out, only to discover you can't abide the idea of needing to down the remaining five after you have the first? Or you totally remembered enjoying this summer ale at that thing last July, but now that you've procured some to have at home, the memory and the beer currently sitting in your fridge just don't match up?</p>
        <p>You don't feel like you can just let this personally displeasing brew go to waste. But can't embrace the idea of sipping the rest of it down yourself, either.</p>
        <p>Well this app seeks to help resolve these saddening but sometimes just unavoidable beer lover conundrums.</p>
        <p>Now you can just log into your friendly beer swapping app and post information on these beers that need a new home. And then hopefully some kind soul will offer a trade with beers that sound acceptable to you, and tasty beer equanimity will be restored! Or say if somebody doesn't have any acceptable-sounding beers to trade at the moment, but you're willing to trade out anyway on good faith that someone may do the same for you one day... well then even that can be done, too. Whatever sits right with you.</p>
        <p>And as always, many happy and safe days and evenings ahead enjoying your brews to you.</p>
        <p>- The Team at Wild at Hop</p>
     </div>


  
</div>
