@{
    ViewBag.Title = "Home Page";
}

@*<body class="home-pic">*@
<div id="background-singlebeer">
    <img src="../images/beer_on_barrel.jpg" />
</div>
        <div class="row the-title">
            <div class="col-md-4">
                <h2>Wild at Hop</h2>
                <p class="beer-adoption">
                    Welcome to the internet's favorite beer adoption site. Help your latest unloved beer become someone else's joy today.
                </p>
            </div>
            <div class="col-md-8 home-thompson">
                <h3>"Good <br /> people <br />drink<br /> good beer."</h3>
                <h4>Hunter S. Thompson</h4>
                <p>@*You can easily find a web hosting company that offers the right mix of features and price for your applications.*@</p>
            </div>
        </div>
    @*</img>*@
    @*</body>*@