@{
    ViewBag.Title = "Home Page";
}

<body class="home-pic">
    <div>

        <div class="row">
            <div class="col-md-6">
                <h2>Beer Swap</h2>
                <p>
                    Welcome to the internet's favorite beer adoption site. Help your latest unloved beer become someone else's light and joy today.
                </p>
            </div>
            <div class="col-md-6">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    </body>