body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
   
}

/*HOME PAGE*/

.home-pic {
    background-image: url(../images/beer_on_barrel.jpg);
    background-size: cover;
    color: white;
}

#background-singlebeer {
  position: fixed;
  top: -40%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-singlebeer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.the-title {
  height: 90px;
  /*width: 380px;*/
  /*background-color: none; opacity: 0.75; filter: alpha(opacity=50);*/
  margin: 0 auto;
  display: inline-block;
  margin-top: 5%;
  color: white;
  /*border: 1px solid white;*/
}

/*************************
 COMMUNITY BEER POSTINGS
**************************/

.start-posting {
    float: left;
    max-width:35%;
    padding-top: 35px;
}

.see-postings {
    display:inline-block;
    margin-top: 15px;
}

.indiv-postings {
    padding-top: 10px;
    border-bottom: solid 1px #747D7D;
    width: 65%;
}

.beer-name {
    font-size: 25px;
}

#background-barrel {
  position: fixed;
  top: -40%;
  /*left: -50%;*/
  width: 200%;
  /*height: 100%;*/
}

#background-barrel img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 20%;
  min-height: 50%;
}

/*************************
 SWAPS VIEW
**************************/

.see-swaps {
    display:inline-block;
    margin-top: 15px;
}

.indiv-swaps {
    padding-top: 10px;
    border-bottom: solid 1px #747D7D;
    width: 65%;
}

/*************************
 POSTING HISTORY VIEW
**************************/

.see-phistory {
    display:inline-block;
    margin-top: 15px;
}

.indiv-phistory {
    padding-top: 10px;
    border-bottom: solid 1px #747D7D;
    width: 65%;
}