body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar {
   
}

/*************************
 HOME PAGE
**************************/

.home-pic {
    background-image: url(../images/beer_on_barrel.jpg);
    background-size: cover;
    color: white;
}

#background-singlebeer {
  position: fixed;
  top: -40%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-singlebeer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.the-title {
  height: 90px;
  /*width: 380px;*/
  /*background-color: none; opacity: 0.75; filter: alpha(opacity=50);*/
  margin: 0 auto;
  display: inline-block;
  margin-top: 5%;
  color: white;
  /*border: 1px solid white;*/
}

.beer-adoption {
    
}

.home-thompson {       
    /*width: 30%;*/
    margin-left: 40%;
    margin-top: -15%;
    padding-left: 45%;
}

/*************************
 ABOUT PAGE
**************************/

#background-wall-beer {
  position: fixed;
  top: -40%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-wall-beer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.about-summary {
  height: 425px;
  width: 75%;
  background-color: #FFFFFF; opacity: 0.85; filter: alpha(opacity=75);
  /*position: absolute;*/
  margin: 0 auto;
  display: inline-block;
  /*margin-top: 15%;*/
  padding-bottom: 20px;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

/*************************
 COMMUNITY BEER POSTINGS
**************************/

.start-posting {
    float: left;
    max-width:25%;
    margin-top: 35px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    background-color: #e5e5e5;
    margin-right: 50px;
}

.see-postings {
    display:inline-block;
    margin-top: 15px;
    padding-left: 20px;
}

.indiv-postings {
    padding-top: 10px;
    border-bottom: solid 1px #e5e5e5;
    width: 450px;
}

.beer-name {
    font-size: 25px;
}

.the-barrel {
    float: right;
    height: 100%;
    width: 30%;
    position: fixed;
    right: 0;
}

.propose-button {
    margin-top: 10px;
}

/*************************
 SWAPS VIEW
**************************/

.the-light-beer {
    float: right;
    height: 100%;
    width: 40%;
    position: fixed;
    right: 0;
}

.see-swaps {
    display:inline-block;
    margin-top: 15px;
}

.indiv-swaps {
    padding-top: 10px;
    border-bottom: solid 1px #e5e5e5;
    width: 65%;
}

.accept-link {
    margin-top: 10px;
}

/*************************
 POSTING HISTORY VIEW
**************************/

.see-phistory {
    display:inline-block;
    margin-top: 15px;
    float: right;
}

.indiv-phistory {
    padding-top: 10px;
    border-bottom: solid 1px #e5e5e5;
    width: 60%;
}

.the-hops {
    float: left;
    height: 100%;
    width: 30%;
    position: fixed;
    left: 0;
}

.popover-options-list {
    text-decoration: none;
}

/*************************
 LOGIN VIEW
**************************/

#background-lightbeer {
  position: fixed;
  top: -40%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-lightbeer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.login-decor {
  background-color: #FFFFFF; opacity: 0.85; filter: alpha(opacity=75);
  float: right;
  width: 40%;
}

.login-title {
    text-align: center;
}
